doctype html
html
  head
  	block head
  		title#{title}
	    meta(charset='UTF-8')
	    meta(content='Education technology leader that publishes interactive study materials for Advanced Placement® (AP®) classes', name='description')
	    meta(content='width=device-width', initial-scale='1.0', name='viewport')
	    meta(content=' "Omniguides™ is a trademark of Omninox Corp. Copyright © 2014 All rights reserved."', name='copyright')
	    meta(content='index,follow', name='robots')
    	meta (content='advanced placement, ap, calculus, ap calc, ap calculus b, physics b, ap physics b, physics, chemistry, ap chemistry, statistics, ap statistics, ap exam, ap exam practice, practice exam, ap', name='keywords')
	block neck
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='new_css.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet', type='text/css')  

block body
  div.navbar.navbar-default.navbar-fixed-top.navbar-inside
    div.container
      div.navbar-header
        a.navbar-brand(href='/')
          img.img-responsive(src='omninox_logo.svg')
        button.navbar-toggle.collapsed(data-target='.my-navbar-collapse',data-toggle='collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      div.navbar-collapse.my-navbar-collapse.collapse.nav-style
        ul.nav.navbar-nav.navbar-right
          li
            a(href='inClass.html')
              IN CLASS
          li
            a(href='atHome.html')
              AT HOME
          li
            a(href='pricing.html')
              PRICING
          li
            a(href='about.html')
              ABOUT US
          li
            a(href='blog.html')
              BLOG
          li 
            a(href='/login/')
            span.glyphicon.glyphicon-user.red

  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')



