doctype html
html
  head
  	block head
  		title#{title}
	    meta(charset='UTF-8')
	    meta(content='Education technology leader that publishes interactive study materials for Advanced Placement® (AP®) classes', name='description')
	    meta(content='width=device-width', initial-scale='1.0', name='viewport')
	    meta(content=' "Omniguides™ is a trademark of Omninox Corp. Copyright © 2014 All rights reserved."', name='copyright')
	    meta(content='index,follow', name='robots')
    	meta (content='advanced placement, ap, calculus, ap calc, ap calculus b, physics b, ap physics b, physics, chemistry, ap chemistry, statistics, ap statistics, ap exam, ap exam practice, practice exam, ap', name='keywords')
	block neck
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='new_css.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet', type='text/css')  

block body
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')



