explore../default

block head

block neck

block body
	div.container
		div.page-header.pricing-header.text-center
			h1 Use our pricing tool to customize your plan
			br 
			br
			p Select for your intended use 
	div.container
		div.row
			div.col-lg-4.col-md-4
			div.col-lg-2.col-md-2.col-sm-12.col-xs-12.text-center
				a(href='pricing/inClass-pricing.html')
					span.btn.btn-pricing
					| in class
			div.col-sm-12.col-xs-12.hidden-lg.hidden-md.in-between
			div.col-lg-2.col-md-2.col-sm-12.col-xs-12.text-center
				a(href='pricing/atHome-pricing.html')
					span.btn.btn-pricing
					| at home
			div.col-lg-4.col-md-4

