extend ../default

block head

block neck

block body

	div.container-fluid.about-div
		div.row
			div.col-lg-2.col-md-1
			div.text-center.col-lg-8.col-md-10.about-text
				h1 Creating interactive materials to enhance the learning experience
				br
				h4 OUR VISION
					p The face of education is evolving as society continues to grow and innovative technologies continue to be created. The dilemma lies in integrating the new technology in order to utilize it for a new way of learning. At Omninocx Pblishing, we strice to meet that challenge and provide an answer
					p Something about how we were founded in 2012 by three engineering students. We saw a space in the education market for interactive and engaging materials. We wanted to revolutionize the learning experience and create materials we would enjoy learning from. Our vision is to create simple and engaging products for students, teachers and the classroom.
				br
				h4 OUR PRODUCTS
					p We began creating OmniGuides - interactive, digital study guides and soon applied our engaging book style to create OmniPrep, focusing on AP Preparation. These books are currently only offerent throuhg the iBookstore for use on the iPad. We wanted to bring our enthusiasm for engaging learning to all web platforms. So we created OmniScore, a tool to aid teachers and students in preparing for their AP tests
				br
				h4 THE TEAM
					p The creation of our products wouldn't be possible without our dedicated team.
				div.row
					div.col-lg-2.col-md-2.col-sm-2
					div.col-lg-2.col-md-2.col-sm-2.col-xs-12
						img.img-responsive.profile-placeholder
							p.profile-name Yatit Thakker
							p.profile-description CEO & Co-Founder
					div.col-lg-1.col-md-1.col-sm-1
					div.col-lg-2.col-md-2.col-sm-2.col-xs-6
						img.img-responsive.profile-placeholder
							p.profile-name Jake Yap
							p.profile-description Co-Founder
					div.col-lg-1.col-md-1.col-sm-1
					div.col-lg-2.col-md-2.col-sm-2.col-xs-6
						img.img-responsive.profile-placeholder
							p.profile-name Drew Vincent
							p.profile-description Co-Founder
					div.col-lg-2.col-md-2.col-sm-2
					div.col-lg-3.col-md-3.col-sm-3.col-xs-6
						img.img-responsive.profile-placeholder
							p.profile-name Jessie Richards
							p.profile-description Graphic Designer
					div.col-lg-2.col-md-2.col-sm-2
					div.col-lg-3.col-md-3.col-sm-3.col-xs-6
						img.img-responsive.profile-placeholder
							p.profile-name Abigail Kauffman
							p.profile-description Content Writer
					div.col-lg-2.col-md-2.col-sm-2
					div.col-lg-3.col-md-3.col-sm-3.col-xs-6
						img.img-responsive.profile-placeholder
							p.profile-name Jason Something
							p.profile-description Content Writer
					div.col-lg-2.col-md-2.col-sm-2
					div.col-lg-3.col-md-3.col-sm-3.col-xs-6
						img.img-responsive.profile-placeholder
							p.profile-name Dylan Something
							p.profile-description PR/Marketing
			div.col-lg-2.col-md-1
	div.container-fluid.about-footer.text-center.row
		div.col-md-1.col-sm-1.col-xs-12
		div.page-header.text-center.footer-text.about.col-md-10.col-sm-10.col-xs-10
			h1 Interested in our interactive books?
			h3 Click the links below to visit us in the iBookstore or see our product information flyer
			img.img-responsive(style='padding-top:10px', src='img/bookshelf.png')
		div.col-md-1.col-sm-1.col-xs-10
		br
		br
		div.row
			div.col-lg-2.col-md-2
			div.col-lg-4.col-md-4.col-sm-12.col-xs-12
				a(href='https://itunes.apple.com/us/artist/omninox-publishing/id672746883?mt=11')
					img.bookstore(src='img/epublio_download_on_the_ibookstore.png')
			div.col-sm-12.col-xs-12.hidden-lg.hidden-md.in-between
			div.col-lg-4.col-md-4.col-sm-12.col-xs-12
				a(href='Flyer_web.pdf')
					span.btn.btn-explore.product-button
					| PRODUCT FLYER
			div.col-lg-2.col-md-2
				








