extends ../default

block head
  title Omninox In Class

block neck

block body

  // LG SCREEN 

  div.container-fluid.chalk.sizer.visible-lg
    div.row(style='padding-top:100px')
      div.col-lg-1
      div.page-header.col-lg-4
        h1 A Virtual Classroom for AP Educators
        p Use OmniScore to connect and cater to your class with ease.
      div.col-lg-6.img-responsive
        img.img-responsive(src='img/main_placeholder.png')
      div.col-lg-1
  div.container-fluid.test-it-out.visible-lg.hidden-xs
    div.row
      div.col-lg-3
      div.col-lg-4.text-center(style='padding-top:5px')
        h3 Get your students studying today!
      div.col-lg-3(style='padding-top:10px')
        a(href='#')
          span.btn.btn-default.test-button 
          | TEST IT OUT
      div.col-lg-2
  div.container-fluid.body-div.visible-lg
    div.row
      div.col-lg-1
      div.col-lg-5.img-responsive
        img.img-responsive(src='img/detail1_placeholder.png')
      div.col-lg-5.text-right(style='padding-top:40px')
        h2 A sentence about classroom controls
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudion bibendum phatra. Donec tempor vulputate aliquam. Osique cnodimentum commodo quam.
      div.col-lg-1
  div.container-fluid.body-div.visible-lg
    div.row
      div.col-lg-1
      div.col-lg-5.img-responsive
        img.img-responsive(src='img/detail2_placeholder.png')
      div.col-lg-5.text-left(style='padding-top:40px')
        h2 Something about in-depth analytics
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudion bibendum phatra. Donec tempor vulputate aliquam. Osique cnodimentum commodo quam.
      div.col-lg-1
  div.container-fluid.body-div.visible-lg
    div.row
      div.col-lg-1
      div.col-lg-5.img-responsive
        img.img-responsive(src='img/detail1_placeholder.png')
      div.col-lg-5.text-right(style='padding-top:40px')
        h2 Exam creation feature section
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudion bibendum phatra. Donec tempor vulputate aliquam. Osique cnodimentum commodo quam.
      div.col-lg-1
  div.container-fluid.footer.text-center.row.visible-lg
    div.page-header.text-center.footer-text
      h1 Interact with your own virtual classroom!
      h3 SIGN UP FOR FREE TODAY
    div.row
      div.col-lg-3
      div.col-lg-6
        div.input-group.input-group-lg.footer-input.col-centered
          input.form-control.footer-input-text(type='text', placeholder='Enter E-mail Address')
      div.col-lg-3
    div.row
      div.col-lg-3
      div.col-lg-6
        div.input-group.input-group-lg.footer-input.col-centered
          input.form-control.footer-input-text(type='text', placeholder='choose password')
      div.col-lg-3
    br
    br
    a(href='#')
      div.col-centered
        span.btn.btn-explore.explore-button
        | EXPLORE NOW

  // END LG SCREEN

  // SM & MD SCREEN

  div.container-fluid.chalk-sm.visible-sm
    div.row(style='padding-top:50px')
      div.page-header.sm.col-sm-12.text-center
        h1 A Virtual Classroom for AP Educators
        p Use OmniScore to connect and cater to your class with ease
      div.col-sm-2
      div.col-sm-8.img-responsive
        img.img-responsive(src='img/main_placeholder.png')
  div.container-fluid.chalk-sm.visible-md
    div.row(style='padding-top:50px')
      div.page-header.sm.col-sm-12.text-center
        h1 A Virtual Classroom for AP Educators
        p Use OmniScore to connect and cater to your class with ease
      div.col-sm-2
      div.col-sm-8
      div.col-sm-2      
  div.container-fluid.test-it-out-sm.visible-sm.visible-md
    div.row
      div.col-sm-12.text-center
        h3 Get your students studying today!
        a(href='#')
          span.btn.btn-default.test-button
          | TEST IT OUT
  div.container-fluid.body-div-sm.visible-sm.visible-md
    div.row
      div.col-sm-6.img-responsive
        img.img-responsive(src='img/detail1_placeholder.png')
      div.col-sm-5.text-right
        h2 A sentence about classroom controls
        p Lorem ipsum dolor sit amet, consectetur, adipiscing elit. Suspendisse sollicitudin bibdenfum pharetra. Donec tempor vulputate aliquam. Quisque condimentum commodo quam.
      div.col-sm-1
  div.container-fluid.body-div-sm.visible-sm.visible-md
    div.row
      div.col-sm-1
      div.col-sm-5.text-left
        h2 Something about in-depth analytics
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin bibendum pharetra. Donec tempor vulputate aliquam. Quisque condimentum commodo quam.
      div.col-sm-6.img-responsive
        img.img-responsive(src='img/detail2_placeholder.png')
  div.container-fluid.body-div-sm.visible-sm.visible-md
    div.row
      div.col-sm-6.img-responsive
        img.img-responsive(src='img/detail3_placeholder.png')
      div.col-sm-5.text-right
        h2 Exam creation feature section
        p Lorem ipsum dolor sit amet, sonseceteur adipiscing elit. Suspendisse sollicitudin bibendum pharetra. Donec temporvulputate aliquam. Quisqe condimentum commodo quam
      div.col-sm-1
  div.container-fluid.footer.text-center.row.visible-sm.visible-md
    div.page-header.sm.text-center.footer-text
      h1(style='font-size:35px')
      | Interact with your own virtual classroom!
      h3 SIGN UP FOR FREE TODAY
    div.row
      div.col-sm-3
      div.col-sm-6
        div.input-group.input-group-lg.footer-input-sm.col-centered
          input.form-control.footer-input-text(type='text', placeholder='Enter E-mail Address')
      div.col-sm-3
    br
    div.row
      div.col-sm-3
      div.col-sm-6
        div.input-group.input-group-lg.footer-input-sm.col-centered
          input..form-control.footer-input-text(type='text', placeholder='Choose Password')
      div.col-sm-3
    br
    br
    a(href='#')
      div.col-centered
        span.btn.btn-explore.explore-button
        | EXPLORE NOW

  // END SM & MD SCREEN


  // XS SCREEN

  div.container-fluid.chalk-xs.visible-xs
    div.row(style='padding-top:10px')
      div.col-xs-1
      div.page-header.col-xs-10.sm.text-center
        h1 A Virtual Classroom for AP Educators
        p Use OmniScore to connect and cater to your class with ease.
      div.col-xs-1
  div.container-fluid.test-it-out-sm.visible-xs
    div.row
      div.col-sm-12.text-center
        h3 Get your students studying today!
        a(href='#')
          span.btn.btn-default.test-button
          | TEST IT OUT
  div.container-fluid.body-div-sm.visible-xs
    div.row
      div.text-center
        h2 A sentence about classroom controls
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspnesidisee solictiduin bibendum pharetra. Donec tempor vulputate aliquam. Quisque condimentum commodo quam.
      div.img-responsive
        img.img-responsive(style='padding-top:20px', src='img/detail1_placeholder.png')
  div.container-fluid.body-div-sm.visible-xs
    div.row
      div.text-center
        h2 Something about in-depth analytics
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suspendisse solllicitudion bibedum pharetra. Donec tempor vulputate aliquam. Quisque condimentum commodo quam
      div.img-responsive
        img.img-responsive(style='padding-top:20px', src='img/detail2_placeholder.png')
  div.container-fluid.body-div-sm.visible-xs
    div.row
      div.text-center
        h2 Exam creation feature section
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollictiduion bidbendum pharetra. Donec tempor vulputate aliquam. Quisque condimentum commodo quam
      div.img-responsive
        img.img-repsonsive(style='padding-top:20px', src='img/detail3_placeholder.png')
  div.container-fluid.footer.text-center.row.visible-xs
    div.page-header.sm.text-center.footer-text
      h1(style='font-size:35px')
      | Interact with your own virtual classroom!
      h3 SIGN UP FOR FREE TODAY
    div.row
      div.col-sm-3
      div.col-sm-6
        div.input-group.input-group-lg.footer-input-sm.col-centered
          input.form-control.footer-input-text(type='text',placeholder='Enter E-Mail Address')
      div.col-sm-3
    br
    div.row
      div.col-sm-3
      div.col-sm-6
        div.input-group.input-group-lg.footer-input-sm-col-centered
          input.form-control.footer-input-text(type='text', placeholder='Choose Password')
      div.col-sm-3
    br 
    br
    a(href='#')
      div.col-centered
        span.btn.btn-explore.explore-button
        | EXPLORE NOW
















